name: Build Frontend

on:
  push:
    branches:
      - main  # or your main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci
      working-directory: ./  

    - name: Build frontend
      run: npm run build
      working-directory: ./
      
    - name: Copy dist to Django static folder
      run: |
        mkdir -p ./staticfiles
        cp -r ./dist/* ./staticfiles/

    - name: Upload build folder
      uses: actions/upload-artifact@v4
      with:
        name: frontend-dist
        path: ./staticfiles
